<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RSP.LabII._2020.Properties.Settings.conexion" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=rsp_lab_II;Integrated Security=True"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>